[Desktop Entry]
Categories=GNOME;GTK;Utility;
Comment=Program keyboard shortcuts
Exec=python3 /usr/local/bin/start_minimized.py "/bin/autokey-gtk -c"
GenericName=Keyboard Automation
Icon=autokey
Name=AutoKey
Terminal=false
Type=Application